<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h1>Welcome to Free America Cast of Characters</h1>
    <p>The purpose of this app is to keep an up to date and editable list of characters for the Welcome to Free America comic book series.</p>
    <p>To add a character to the list, simply click the "add character" tab and enter in the character information.  To edit or delete a character, go to the character list and click the edit or delete buttons that are present for each character.</p>
  </div>
</div>
