<div ng-controller='editPopupController'>
  <div class="modal-header">
    <h3 class="modal-title"> Edit Character</h3>
  </div> <!-- end modal-header -->

  <div class="modal-body">
    <div id="editCharacter">
      <label for="characterName"> Name: </label>
      <input type="text" name="characterName" ng-model="characterName" value="" placeholder="Name"><br>
      <label for="characterBio"> Bio: </label>
      <input type="text" name="characterBio" ng-model="characterBio" value="" placeholder="Bio"><br>
      <label for="characterAffiliations"> Affiliations: </label>
      <input type="text" name="characterAffiliations" ng-model="characterAffiliations" value="" placeholder="Affiliations"><br>
      <label for="characterIssues"> Issues: </label>
      <input type="text" name="characterIssues" ng-model="characterIssues" value="" placeholder="Issues"><br>
    </div> <!-- end editCoverDiv -->
  </div> <!-- end modal-body -->

  <div class="modal-footer">
    <button class="brn btn-primary" ng-click="editCharacter()"> Edit </button>
    <button class="btn btn-warning" ng-click="cancel()"> Cancel </button>
  </div> <!-- end modal-footer -->
</div>
