<!DOCTYPE html>
<html ng-app = 'myApp'>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Free America: Cast of Characters</title>
    <script src="vendors/angular.min.js" type="text/javascript"></script>
    <script src="scripts/client.js" type="text/javascript"></script>
  </head>
  <body>
    <h1> Input Character Information </h1>
    <div ng-controller = 'charInputController'>
    <input type= "text" ng-model= "characterNameIn" name= "characterNameIn" value= "" placeholder="Character's Name">
    <input type= "text" ng-model= "characterSketchIn" name= "characterSketchIn" value= "" placeholder="Character's Sketch URL">
    <input type= "text" ng-model= "affiliationsIn" name= "affiliationsIn" value= "" placeholder="Character's Affiliations">
    <input type= "text" ng-model= "issuesIn" name= "issuesIn" value= "" placeholder="Issues in which Character Appears">
    <input type= "text" ng-model= "characterBioIn" name= "characterBioIn" value= "" placeholder="Character's Bio">
    <button type="button" name="button" ng-click= "submitCharacter()">Enter</button>
  </div>

  <h1> Current Character List </h1>
  <div ng-controller = 'charDisplayController' ng-init="getCharacters()">
    <ul ng-repeat='character in characters'>
        <li><b><h3>{{character.name}}</h3></b></li>
        <li>{{character.bio}}</li>
        <li>{{character.affiliations}}</li>
        <li>{{character.issues}}</li>
    </div>
  </body>
</html>
