<!DOCTYPE html>
<html ng-app = 'myApp'>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Free America: Cast of Characters</title>
    <script src="vendors/angular.min.js" type="text/javascript"></script>
    <script src="vendors/angular-route.js" type="text/javascript" ></script>
    <script src="scripts/client.js" type="text/javascript"></script>
    <script src="vendors/jquery.js"></script>
    <script src="vendors/ui-bootstrap.js"></script>
    <script src="vendors/ui-bootstrap-tpls.js"></script>
    <script src="vendors/bootstrap.js"></script>
    <script src="vendors/bootstrap.min.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/bootstrap.css">
  </head>
  <body>
    <header>
      <div><h1> Welcome to Free America- Cast of Characters</h1></div>
      <div ng-include= '"/views/partials/nav.html"'></div>
    </header>
    <main ng-view></main>
  </body>
</html>
