<h1> Current Character List </h1>
<div ng-controller = 'charDisplayController' ng-init="getCharacters()">
  <ul ng-repeat='character in characters'>
      <li><b><h3>{{character.name}}</h3></b></li>
      <li>{{character.bio}}</li>
      <li>{{character.affiliations}}</li>
      <li>{{character.issues}}</li>
      <button type="button" name="editButton" data-toggle="collapse" data-target="#editCharacterInfo">Edit</button>
      <button type="button" name="deleteButton" ng-click="deleteCharacter( character )">Delete</button>
      <div id="editCharacterInfo" class="collapse">
        <input type= "text" ng-model= "character.name" name= "editCharNameIn" value= "" placeholder="Character's New Name">
        <input type= "text" ng-model= "character.sketch" name= "editCharSketchIn" value= "" placeholder="Character's New Sketch URL">
        <input type= "text" ng-model= "character.affiliations" name= "editCharAffiliationsIn" value= "" placeholder="Character's New Affiliations">
        <input type= "text" ng-model= "character.issues" name= "editCharIssuesIn" value= "" placeholder="Issues in which Character Appears">
        <input type= "text" ng-model= "character.bio" name= "editCharBioIn" value= "" placeholder="Character's New Bio">
        <button type="button" name="button" ng-click= "editChar( character )">Submit Changes</button>
      </div>
      </div>
